<script id="footer-temp" type="text/x-handlebars-template">
	<div class="container-fluid text-right \{{#if statusClass}}\{{statusClass}}\{{else}}bg-secondary\{{/if}}">
		<div class="speech text-light float-left">waiting for orders...</div>
		<div class="status text-light">\{{status}}</div>
	</div>
</script>