<script id="goals-drop-sub" type="text/x-handlebars-template">
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">Speed</span>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Speed</a>
				<a class="dropdown-item" href="#">Cadence</a>
			</div>
		</div>
		<input class="form-control col-lg-4" type="text" value="15" id="desiredSpeed"></input>
		<div class="input-group-append">
			<span class="input-group-text">mph</span>
		</div>
		<span class="mx-4 input-group-text bg-dark text-white"> for </span>
		<input class="form-control col-lg-4" type="text" value="5"></input>
		<div class="input-group-append">
			<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">Minutes</span>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Minutes</a>
				<a class="dropdown-item" href="#">Seconds</a>
			</div>
		</div>						
		<button class="btn btn-outline-secondary create mx-3" data-cmd="createRoute"><i class="fas fa-plus"></i></button>
	</div>
</script>

<script id="goals-module" type="text/x-handlebars-template">
	<div class="grid-item col-lg-4" data-module="goals" data-submodule="goals-drop">
		<div class="grid-item-content">
			<div class="card">
				<div class="card-header">Ride Goals</div>
				<div class="card-body">
				</div>
			</div>
		</div>
	</div>
</script>