<script id="map-module" type="text/x-handlebars-template">
	<div class="grid-item col-lg-4 mt-2" data-module="map">
		<div class="grid-item-content">
			<div class="card">
				<div class="card-header">Ride Map<button class="btn btn-outline-secondary float-right" data-cmd="pickTrackGUI"><i class="fas fa-map-marked-alt"></i></button></div>
				<div class="card-body p-0">
					<div class="map"></div>
				</div>
			</div>
		</div>
		<div class='search-wrap d-none'>
			<div class='searcher'>
				<div class='row mb-3'>
					<div class='col-lg-6'><input class='search form-control' placeholder='Filter...'/></div>
					<div class='col-lg-3'><button class='btn btn-outline-secondary sort' data-sort='name'>Name <i class='fas fa-sort'></i></button></div>
					<div class='col-lg-3s'><button class='btn btn-outline-secondary sort' data-sort='date'>Date <i class='fas fa-sort'></i></button></div>
				</div>
				<ul class='list list-group'>
					<li class='list-group-item list-group-item-action flex-column align-items-start'>
						<div class="d-flex w-100 justify-content-between">
							<h5 class='name'></h5>
							<small class='days'></small>
						</div>
						<p class="mb-1 description"></p>
						<p class="mb-1 distance"></p>
						<button class="btn btn-outline-primary float-right" data-cmd="loadTrack"><i class="fas fa-cloud-download-alt"></i></button>
					</li>
				</ul>
			</div>		
		</div>
	</div>
</script>