    <nav class="navbar navbar-light sticky-top bg-light flex-md-nowrap">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
			<img src="/img/logo.png" class="img-fluid" alt="">
		</a>
	  <div class="button-group">
		<button class="btn btn-outline-primary play" data-cmd="start"><i class="fas fa-play"></i></button>
		<button class="btn btn-outline-primary pause" data-cmd="pause"><i class="fas fa-pause"></i></button>
		<button class="btn btn-outline-secondary stop" data-cmd="stop"><i class="fas fa-stop"></i></button>
		<button id="clear" class="btn btn-outline-secondary" data-cmd="clear"><i class="fas fa-broom"></i></button>
		<div class="dropdown d-inline-block">
			<button id="profile" class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown"><i class="fas fa-user-circle"></i></button>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" href="/logout">Logout</a>
			</div>
		</div>
	  </div>
    </nav>