<script id="ride-info-module" type="text/x-handlebars-template">	
	<div class="grid-item col-lg-4 mt-2">
		<div class="grid-item-content">
			<div class="card">
				<div class="card-header">Current Ride</div>
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><h3>Current Speed: <span class="small" id="currSpeed"></span></h3></li>
						<li class="list-group-item"><h3>Average Speed: <span class="small" id="avgSpeed"></span></h3></li>
						<li class="list-group-item"><h3>Total Distance: <span class="small" id="distance"></span></h3></li>
						<li class="list-group-item"><h3>Elapsed: <span class="small" id="elapsedTime"></span></h3></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</script>