<script id="speed-graph-module" type="text/x-handlebars-template">	
	<div class="grid-item col-lg-4 mt-2">
		<div class="grid-item-content">
			<div class="card">
				<div class="card-header">Speed Graph</div>
				<div class="card-body"><canvas class="my-4" id="myChart"></canvas></div>
			</div>
		</div>
	</div>	
</script>