<!doctype html>
<html class="no-js" lang="">
{{> header}}


<body class="pause">
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
	{{> nav }}

    <div class="container-fluid">
        <div id="main" role="main" class="pt-3 flex-wrap d-flex justify-content-between">
			{{{body}}}
		</div>
    </div>
	<footer class="footer fixed-bottom">
		{{> footer }}
	</footer>
	{{> modal }}
	{{> scripts }}
</body>

</html>