<a class="navbar-brand col-6 col-lg-2" href="/">
    <img src="/img/logo-w.png" class="img-fluid" alt="">
</a>
<div class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <p class="lead">
                we believe that exercise should be approachable. it should be fairly priced. and you shouldn't hate riding inside.
            </p>
            <p>so we created veload. it's a real-time dashboard of your cycling stats. getting started is easy!</p>
            <ol class='text-left'>
                <li>use your existing ant+ USB stick or <a target="_blank" class='bg-secondary text-white p-1' href='https://amzn.to/2TuzwqM'>purchase a new one</a> (we may get a referral credit)</li>
                <li>use your existing ant+ cadence, speed, and/or heart rate sensors or <a target="_blank" class='bg-secondary text-white p-1' href='https://amzn.to/2GbkToH'>purchase new ones</a> (we may get a referral credit)</li>
                <li><a href='' class='download-link bg-secondary text-white p-1'>download</a> the veload USB monitoring software</li>
                <li><a href='/dashboard' class='bg-success text-white p-1 rounded' >head to the dashboard</a></li>
            </ol>
        </main>
    </div>
</div>
