<div class="grid row gridster">

</div>
<i class="fas fa-wifi connected-icon position-fixed"></i>

{{#each modules as |mod|}}
	{{> (mod) }}
{{/each}}

{{> settings }}
{{> workoutBuilder }}
{{> workoutSelector }}
{{> connectionButtons}}