<div class="text-center home">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">welcome to veload</h1>
            <p class="lead">where weekend warriors train</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary">get the app</a>
                <a href="/dashboard" class="btn btn-lg btn-primary">go to your dashboard</a>
            </p>
        </main>
    </div>
</div>