<a class="navbar-brand col-6 col-lg-2" href="/">
    <img src="/img/logo-w.png" class="img-fluid" alt="">
</a>
<div class="text-center home">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover ">
            <h2 class="lead">where weekend warriors train</h2>
            <div class="d-flex flex-row justify-content-center">
                <a href="/static/about" class="btn btn-lg btn-secondary mr-2">what is this?</a>
                <a href="" class="btn btn-lg btn-primary py-1 mr-2 download-link">
                    get the windows app
                    <div class="d-block h6"><small>version: <span class="version"></span> | downloaded: <span class="downloaded"></span></small></div>
                </a>
                <a href="/dashboard" class="btn btn-lg btn-success mr-2">it's <span class="d-inline-block weather"><span class="in rot">time</span></span>, go ride</a> 
            </div>


        </main>
    </div>
</div>
<div class="fixed-bottom text-center" style="z-index:100000"><a class="text-muted"  href="https://darksky.net/poweredby/">weather by darksky</a></div>