<a class="navbar-brand col-6 col-lg-2" href="/">
    <img src="/img/logo-w.png" class="img-fluid" alt="">
</a>
<div class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
			<h1 class="lead">to login to veload:</h2>
			<a class="d-block" href="{{url}}"><img class="img-fluid rounded mx-auto d-block" src="img/strava_connect.png" /></a>
		</main>
	</div>
</div>	