<a class="navbar-brand col-6 col-lg-2" href="/">
    <img src="/img/logo-w.png" class="img-fluid" alt="">
</a>
<div class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
			<h4 class="display-4">subscribe to veload:</h4>
			<a class="btn btn-primary btn-lg" href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="veload-standard" >subscribe</a>
		</main>
	</div>
</div>	