<div class="col-lg-4 mx-auto mt-3">
	<div class="card">
		<div class="card-header">Login</div>
		<div class="card-body text-center">
			<a class="col-lg-8" href="https://www.strava.com/oauth/authorize?client_id=31578&redirect_uri=http://home.spencerm.pro:3000/strava&response_type=code&scope=activity:write"><img class="img-fluid" src="img/strava_connect.png" /></a>
		</div>
	</div>
</div>	