 nav .pause,.play  .play,.resizable.min .fa-compress-arrows-alt,.resizable.full .fa-expand-arrows-alt,.stop{
	display: none;
}
.play  .pause,nav .play,.stoppable .stop{
	display: inline;
}
.footer{
    background-color: #f5f5f5;
}