<!doctype html>
<html lang="">
{{> header}}


<body class="paused loggedout loading {{bodyClass}}">
<div class="modal fade show loader">
	<div class="modal-dialog centered" role="document">
		<div class='spin'></div>
	</div>
</div>
<div class="modal-backdrop show loader"></div>
<span class="bg blurrer in"></span>
  <!-- Add your site or application content here -->
	{{> nav }}

    <div class="container-fluid">
        <div id="main" role="main" class="">
			{{{body}}}
		</div>
    </div>
	<footer class="footer fixed-bottom collapse show">
		{{> footer }}
	</footer>
	{{> modal }}
	{{> scripts }}
</body>

</html>