<!doctype html>
<html lang="">
{{> header}}


<body class="paused loggedout loading">
<div class="modal fade show d-block" id="modal">
	<div class="modal-dialog centered" role="document">
		<img class='mx-auto' src='/img/loading.gif' width='64' height='64' class='img-flex'/>
	</div>
</div>
<div class="modal-backdrop show"></div>
<span class="bg blurrer in"></span>
  <!-- Add your site or application content here -->
	{{> nav }}

    <div class="container-fluid">
        <div id="main" role="main" class="pt-3 flex-wrap d-flex justify-content-between">
			{{{body}}}
		</div>
    </div>
	<footer class="footer fixed-bottom collapse show">
		{{> footer }}
	</footer>
	{{> modal }}
	{{> scripts }}
</body>

</html>