<div class="btn-toolbar d-inline-block" role="toolbar">
    <button class="btn btn-outline-secondary mr-2 active" data-param="hr" data-sensor="hr" data-toggle="button" data-tooltip="tooltip" data-update="remote.userHr" data-title="Heart Rate Monitor" >
        <i class="fas fa-heart"></i>
    </button>
    <button class="btn btn-outline-secondary mr-2 active" data-param="speed" data-sensor="speed" data-update="remote.userSpeed" data-toggle="button" data-tooltip="tooltip" data-title="Speed Sensor">
        <i class="fas fa-bicycle"></i>
    </button>
    <button class="btn btn-outline-secondary mr-2 active" data-param="cadence" data-sensor="cadence" data-update="remote.userCadence" data-toggle="button" data-tooltip="tooltip" data-title="Cadence Sensor" >
        <i class="fas fa-drum"></i>
    </button>
</div>