<script id="{{this}}-module" type="text/x-handlebars-template">
	<script async src="/js/_{{this}}.js"></script>
	<div class="grid-item col-lg-4">
		<div class="grid-item-content">
			<div class="card ">
				<div class="card-header"></div>
				<div class="card-body bg-light"><canvas class="my-4 {{this}}"></canvas></div>
			</div>
		</div>
	</div>	
</script>