<script id="goals-temp" type="text/x-handlebars-template">
<select class="form-control variable mb-3">
	<option data-min="50" data-max="250" data-unit="bpm" data-decimal="0">Heartrate</option>
	<option>Speed</option>
	<option>Cadence</option>
	<option>Power</option>
</select>
<div class="goals-container">
	<div class="goals-grid">
		<div class="item"><div class="item-content"><div class="closer" data-cmd='removeGoal'>x</div></div></div>
	</div>
</div>
<button class="btn btn-primary" data-cmd="addGoal">Add</button>
</script>