<script id="goals-temp" type="text/x-handlebars-template">
<select class="form-control variable mb-3">
	<option data-min="50" data-max="250" data-unit="bpm" data-decimal="0">Heartrate</option>
	<option data-min="2" data-max="40" data-unit="\{{units}} / hour" data-decimal="1">Speed</option>
	<option data-min="2" data-max="150" data-unit="" data-decimal="0">Cadence</option>
	<option>Power</option>
</select>
<div class="goals-container mb-3">
	<div class="goals-grid">
		
	</div>
</div>
<button class="btn btn-primary" data-cmd="Goals.addGoal">Add Goal</button>
<button class="btn btn-primary" data-cmd="addTime">Add Time</button>
<div class="goal-item-template d-none">
	<div class="item" data-toggle="tooltip"><div class="item-content"><div class="closer" data-cmd='Goals.removeGoal'>x</div></div></div>
</div>
</script>