{{#partial "script"}}
true
{{/partial}}

{{#partial "bodyClass"}}
p-0
{{/partial}}

{{#partial "bodyContent" }}
	<button class="btn btn-primary position-absolute playing-hidden" data-cmd="pickTrackGUI" data-toggle="tooltip" title="Load a saved route or activity"><i class="fas fa-map-marked-alt"></i></button>
	<div class="map"></div>
{{/partial}}

{{#partial "toggleAttr" }}
disabled
{{/partial}}

{{> module}}