{{#partial "bodyClass"}}
p-0
{{/partial}}

{{#partial "bodyContent" }}
	<button class="btn btn-primary position-absolute" data-cmd="pickTrackGUI" data-toggle="tooltip" title="Load a saved route or activity"><i class="fas fa-map-marked-alt"></i></button>
	<div class="map"></div>
{{/partial}}

{{#partial "extraContent" }}
	<div class='search-wrap d-none'>
		<div class='searcher'>
			<div class='row mb-3'>
				<div class='col-lg-6'><input class='search form-control' placeholder='Filter...'/></div>
				<div class='col-lg-3'><button class='btn btn-outline-secondary sort' data-sort='name'>Name <i class='fas fa-sort'></i></button></div>
				<div class='col-lg-3s'><button class='btn btn-outline-secondary sort' data-sort='timestamp'>Date <i class='fas fa-sort'></i></button></div>
			</div>
			<ul class='list list-group'>
				<li class='list-group-item list-group-item-action flex-column align-items-start'>
					<div class="d-flex w-100 justify-content-between">
						<div>
							<h5 class='name'></h5>
							<p class="mb-1 description"></p>
						</div>
						<div>
							<small class='days'></small>						
							<button class="btn btn-outline-primary d-block mr-0 ml-auto" data-cmd="loadTrack"><i class="fas fa-cloud-download-alt"></i></button>
						</div>
					</div>
				</li>
			</ul>
			<ul class="pagination mt-3 justify-content-center"></ul>
		</div>		
	</div>
{{/partial}}

{{> module}}