<script id="overlay-temp" type="text/x-handlebars-template">
<div class="cover">
    <div class="text-center position-fixed w-100 h-100 overlay">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main role="main" class="inner cover centered">
                <p class="lead">\{{title}}</hp>
                <h1 class="\{{class}}">\{{message}}</h1> 
                <div class="content"></div>
            </main>
        </div>
    </div>
</div>
<div class="overlay-backdrop show"></div>
</script>
