{{#partial "script"}}
true
{{/partial}}
{{#partial "cardHeader"}}

{{/partial}}

{{#partial "bodyClass" }}
text-center
{{/partial}}

{{#partial "bodyContent" }}
	<div class="carousel slide" data-ride="carousel" data-interval="2500">
		<ul class="carousel-inner m-0 p-0">
			<li class="carousel-item active"><h5>Current Speed </h5><h3 class="display-4" id="currSpeed"></h3></li>
			<li class="carousel-item"><h5>Cadence </h5><h3 class="display-4" id="currCadence"></h3></li>
			<li class="carousel-item"><h5>Average Speed</h5> <h3 class="display-4" id="avgSpeed"></h3></li>
			<li class="carousel-item"><h5>Total Distance</h5> <h3 class="display-4" id="distance"></h3></li>
			<li class="carousel-item"><h5>Elapsed</h5> <h3 class="display-4" id="elapsedTime"></h3></li>
			<li class="carousel-item"><h5>HR</h5> <h3 class="display-4" id="hr"></h3></li>
		</ul>
	</div>
{{/partial}}

{{> module}}