<script id="settings-temp" type="text/x-handlebars-template">
	<div class="settings">
		<ul class="nav nav-pills card-header-pills mx-3 mb-3 mt-1">
			\{{#each links as |value|}}
				<li class="nav-item">
					<a data-toggle="pill" class="nav-link \{{#if @first}}active\{{/if}}" href="#\{{value}}">\{{value}}</a>
				</li>
			\{{/each}}
		</ul>
		<div class="tab-content m-3">
			<div class="tab-pane fade visibility show active" id="visibility">
				\{{#each allMods as |value|}}
					<div class="row" data-name='\{{value.[0]}}' data-cmd='moduleToggle'>
						<div class="col-lg-5">\{{value.[1]}}</div><div class="col-lg-3">{{> toggle }}</div>
					</div>
				\{{/each}}
			</div>
			<div class="tab-pane fade connection" id="connection">
				<div class="btn-toolbar d-flex justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
					<button class="btn btn-lg btn-outline-secondary mr-2" data-toggle="tooltip" data-title="Heart Rate Monitor" disabled><i class="fas fa-heart"></i></button>
					<button class="btn btn-lg btn-outline-secondary mr-2" data-toggle="tooltip" data-title="Speed Sensor" disabled><i class="fas fa-bicycle"></i></button>
					<button class="btn btn-lg btn-outline-secondary mr-2" data-toggle="tooltip" data-title="Cadence Sensor" disabled><i class="fas fa-drum"></i></button>
				</div>
				<div class="input-group my-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Monitor URL:</span>
					</div>
					<input type="text" class="form-control" aria-describedby="basic-addon3" value="http://localhost:3001" data-update="local.circ">
				</div>
				<div class="input-group my-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Wheel Circumference</span>
					</div>
					<input type="text" class="form-control" aria-describedby="basic-addon3" value="2.120">
				</div>				

			</div>
		</div>
	</div>
</script>