<script id="settings-temp" type="text/x-handlebars-template">
	<div class="settings">
		<ul class="nav nav-pills card-header-pills mx-3 mb-3 mt-1">
			\{{#each links as |value|}}
				<li class="nav-item">
					<a data-toggle="pill" class="nav-link \{{#if @first}}active\{{/if}}" href="#\{{value}}">\{{value}}</a>
				</li>
			\{{/each}}
		</ul>
		<div class="tab-content m-3">
			<div class="tab-pane fadebike show active" id="bike">
				<div class="connection-options input-group row my-3">
					<span class="col-5 col-form-label">Sensors:</span>
					{{>buttons}}
				</div>

				<div class="input-group row my-3">
					<span class="col-5 col-form-label">Circumference:</span>
					<input type="text" class="form-control" data-param="circ" data-update="local.circ,remote.userCirc">
				</div>	
				<div class="input-group row my-3">
					<span class="col-5 col-form-label">Power Modes:</span>
					<input type="text" class="form-control" data-param="modes" data-update="remote.userModes">
				</div>					
				<div class="input-group row my-3">
					<span class="col-5 col-form-label">Units: </span>			
					<select class="form-control" data-param="units" data-update="remote.userUnits">
						<option value="miles">Miles</option>
						<option value="kilometers">Kilometers</option>
					</select>
				</div>

			</div>
			<div class="tab-pane fade connection" id="connection">
				<div class="input-group my-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Monitor URL:</span>
					</div>
					<input type="text" class="form-control" data-param="url" data-finish="opts.updateLocal">
				</div>
			</div>				
			<div class="tab-pane fade modules" id="modules">
				\{{#each allMods as |value|}}
					<div class="row" >
						<div class="col-lg-5">\{{value.[1]}}</div><div class="col-lg-3">
							<button type="button" class="btn btn-xs btn-toggle active" data-name='\{{value.[0]}}' data-cmd='moduleToggle' data-toggle="button" aria-pressed="false" autocomplete="off">
								<div class="handle"></div>
							</button>
						</div>
					</div>
				\{{/each}}
				<form class="row mt-3 pt-3 border-top custom-creator">
					<div class="col-6">
						<select class="form-control chart-type">
							<option selected>Add module...</option>
							<option data-multiple-capable="true" value="line">Line Chart</option>
							<option data-multiple-capable="false" value="gauge">Gauge Chart</option>
						</select>						
					</div>
					<div class="col-6">
						<select class="form-control parameter-type">
							<option selected>Select parameter</option>
							<option value="hr">Heartrate</option>
							<option value="cadence">Cadence</option>
							<option value="speed">Speed</option>
						</select>						
					</div>
					<div class="col-6 mt-3">
						<input type="text" class="form-control title" placeholder="Name">
					</div>
					<div class="col-6 mt-3">
						<button class="btn btn-primary" data-submit="SettingsPane.addCustomModule"><i class="fas fa-plus-square"></i></button>
					</div>
				
				</form>		
			</div>			
		</div>
	</div>
</script>