<script id="start-temp" type="text/x-handlebars-template">
	<div class='search-wrap d-none'>
		<div class='searcher'>
			<div class='row mb-3'>
				<div class='col-lg-6'><input class='search form-control' placeholder='Filter...'/></div>
				<div class='col-lg-3'><button class='btn btn-outline-secondary sort' data-sort='name'>Name <i class='fas fa-sort'></i></button></div>
				<div class='col-lg-3'><button class='btn btn-outline-secondary sort' data-sort='timestamp'>Date <i class='fas fa-sort'></i></button></div>
			</div>
			<ul class='list list-group'>
				<li class='list-group-item list-group-item-action flex-column align-items-start'>
					<div class="row">
						<div class="col-9">
							<h5 class="name truncate"></h5>
							<p class="mb-1 description"></p>
						</div>
						<div class="col-3 text-right">
							<small class="days align-top"></small>						
							<button class="btn btn-outline-primary d-block mr-0 ml-auto" data-cmd="Map.loadGPX"><i class="fas fa-cloud-download-alt"></i></button>
						</div>
					</div>
				</li>
			</ul>
			<ul class="pagination mt-3 justify-content-center"></ul>
		</div>		
	</div>
	<div class="rwgpsSearch d-none">
		<form class="container-fluid">
			<div class="row mb-3 pb-3 border-bottom">
				<input type="text" class="form-control col gpsSearchKeywords mr-3" placeholder="Location"/>
				<input type="number" class="form-control col gpsSearchDistance mr-3" placeholder="Distance" value="10"/>
				<button class="btn btn-primary" type="submit" data-submit="Map.gpsSearch">Search</button>
			</div>
		</form>
	</div>
	<div class='StravaOrRide d-none'>
		<div class="d-flex flex-row justify-content-center">
			<button class="btn btn-outline-secondary col mr-3 p-3" data-cmd="Map.stravaLoader"><img src="/img/strava_logo_orange.png" class="img-fluid"></button>
			<button class="btn btn-outline-secondary col" data-cmd="Map.gpsLoader"><img src="https://ridewithgps.com/images/revised_layout/logo.png" class="img-fluid" /></button>
		</div>
	</div>
	<div class='GoalSelectOrBuild d-none'>
		<div class="d-flex flex-row justify-content-center">
			<button class="btn btn-outline-secondary col mr-3 p-3" data-cmd="Goals.show">Build New</button>
			<button class="btn btn-outline-secondary col" data-cmd="Goals.select">Select Existing</button>
		</div>
	</div>	

</script>
{{> workoutBuilder }}
{{> workoutSelector }}
