<script id="workoutBuilder-temp" type="text/x-handlebars-template">
<div id="workout-builder" class="carousel slide carousel-fade" data-wrap="false" data-interval="false">
	<div class="container-fluid">
		<div class="carousel-inner" >
			{{!-- Metric selection --}}
			<div class="carousel-item active" data-max-width="30vw">
				<h2>Select a metric:</h2>
				<div class="btn-toolbar btn-group-toggle variable bigButtons mb-5" data-toggle="buttons" role="toolbar">
					
					<label class="btn btn-outline-secondary mr-2 active" data-min="50" data-max="250" data-unit="bpm" data-type="hr" data-decimal="0" data-tooltip="tooltip" data-title="Heart Rate" >
						<input type="radio" name="variable" id="vhr" checked><i class="fas fa-heart"></i>
					</label>
					<label class="btn btn-outline-secondary mr-2" data-min="2" data-max="40" data-unit="\{{units}} / hour" data-type="speed" data-decimal="1" data-tooltip="tooltip" data-title="Speed">
						<input type="radio" name="variable" id="vspeed"><i class="fas fa-bicycle"></i>
					</label>
					<label class="btn btn-outline-secondary mr-2" data-min="2" data-max="150" data-unit="" data-decimal="0" data-type="cadence"  data-tooltip="tooltip" data-title="Cadence" >
						<input type="radio" name="variable" id="vcadence"><i class="fas fa-drum"></i>
					</label>
				</div>
				<h2>Select a measurement:</h2>
				<div class="btn-toolbar btn-group-toggle length-units bigButtons mb5" data-toggle="buttons" role="toolbar">
					<label class="btn btn-outline-secondary mr-2 active" data-type="\{{units}}" data-increment=".25" data-min=".25" data-decimal="2" data-max="50" data-tooltip="tooltip" data-title="Distance" >
						<input type="radio" name="length" id="ldistance" checked><i class="fas fa-flag-checkered"></i>
					</label>
					<label class="btn btn-outline-secondary mr-2" data-type="minutes" data-increment="1" data-min="1" data-decimal="0" data-max="60" data-tooltip="tooltip" data-title="Time">
						<input type="radio" name="length" id="ltime"><i class="fas fa-stopwatch"></i>
					</label>
				</div>
			</div>		
				{{!-- Actual builder --}}
			<div class="carousel-item" data-max-width="80vw">
				<div class="goals-container mb-1">
					<div class="goals-grid">
						
					</div>
				</div>
				<div class="d-flex justify-content-between align-items-center">
					<button class="btn btn-primary" data-cmd="Goals.addGoal">Add Segment</button>
					<input type="text" class="form-control col-3 workout-title" required placeholder="Super Workout"/>
					<div class="length-display">Length: <span></span></div>
				</div>
				
				<div class="goal-item-template">
					<div class="item" data-toggle="tooltip">
						<div class="item-content">
							<div class="clicker">
								<div class="closer control mr-4" data-cmd='Goals.removeGoal'><i class="fas fa-times-circle"></i></div>
								<div class="cloner control" data-cmd='Goals.cloneGoal'><i class="fas fa-clone"></i></div>
								{{!-- <div class="dragger control"><i class="fas fa-hand-paper"></i></div> --}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{!-- Controls --}}
		<div class="btn-toolbar variable justify-content-center d-flex" role="toolbar">
			<a class="btn btn-secondary mr-3" href="#workout-builder" role="button" data-slide="prev">
				<span>Previous</span>
			</a>
			<a class="btn btn-primary" href="#workout-builder" role="button" data-slide="next">
				<span>Next</span>
			</a>
		</div>
	</div>		
</div>
</script>